/* Poppins */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #ccc;
}
.container {
  max-width: 650px;
  padding: 28px;
  margin: 0 28px;
  background: #fff;
  box-shadow: 0 15px 20px #abb2b9;
}
h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}
.input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}
.input-box:nth-child(2n) {
  justify-content: end;
}
.input-box label,
.gender-title {
  width: 95%;
  font-weight: bold;
  margin: 5px 0;
}
.gender-title {
  font-size: 16px;
}
.input-box input {
  height: 40px;
  width: 95%;
  padding: 0 10px;
  border-radius: 9px;
  border: 1px solid #000;
  outline: none;
}
.gender-category label {
  padding: 0 20px 0 5px;
  font-size: 15px;
}
.gender-category label,
.gender-category input {
  cursor: pointer;
}
.btn-container {
  margin: 15px 0;
}
.btn-container button {
  width: 100%;
  height: 50px;
  background: #00e5ff;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
}
.btn-container button:hover {
  background: #0084ff;
  color: #fff;
}
@media (max-width: 600px) {
  .container {
    max-width: 350px;
  }
  .content {
    max-height: 380px;
    overflow: auto;
  }
  .input-box {
    margin-bottom: 12px;
    width: 100%;
  }
  .input-box:nth-child(2n) {
    justify-content: space-between;
  }
  .gender-category {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
}
